# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Build
.vercel
*.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docs
*.md
!README.md

# Misc
*.log
.env*.local
certbot
nginx/ssl
